/*
** Table of Contents
** 1. General
*/

// 1. General
header {
  background-color: $header-background;
  position: relative;
}
.logo {
  padding: 21.5px 0;
  display: inline-block;

  a {
    display: block;
  }

  svg {
    height: 66.5px;
    max-width: 70vw;
  }

  .site-name {
    color: $heading-primary;
    display: none;
    left: 190px;
    margin-bottom: 0;
    min-width: 220px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);

    @include breakpoint('medium') {
      display: block;
    }
  }
}