/*
** Table of Contents
** 1a. Body
** 1b. Content
** 2. Link Styling
*/

// 1a. Body
  body {
    overflow-x: hidden;
  }

// 1b. Content
.content {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0 20px;
  
  &.inner-width {
    max-width: 1087px;
  }
}

// 2. Links
a {
  color: green;
  font-weight: bold;
}

// 3. Images
img {
  margin-bottom: 0;
}