/*
** Table of Contents
** 1. Content
** 2. Link Styling
*/

// 1. Content
.content {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0 20px;
  
  &.inner-width {
    max-width: 923px;
  }
}

// 2. Links
a {
  color: green;
  font-weight: bold;
}

// 3. Images
img {
  margin-bottom: 0;
}