/*
** Table of Contents
** 1. Primary Navigation
*/

// 1. Primary Navigation
.primary-navigation {
  background-color: $header-background;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 300ms ease-out;
  width: 80%;
  // transform: translateX(102%);

  ul, li { margin: 0; }
  ul {
    display: block;
    padding: 0 ($menu-spacing / 2);
    text-align: right;
    
    li {
      display: inline-block;
      
      a {
        color: $menu-primary;
        font-family: $heading-font;
        font-size: 24px;
        font-weight: 600;
        height: $header-height;
        line-height: $header-height;
        text-decoration: none;
        padding: 0 ($menu-spacing / 2);
      }
    }
  }
  @include breakpoint('medium') {
    ul {
      padding: 0 ($menu-spacing / 2);
      
      li {
        a {
          padding: 0 ($menu-spacing / 2);
        }
      }
    }
  }
}