
  /*
** Table of Contents
** 1. General
*/

// 1. General
.requestor-info {
  //background-color: $grey-light;
  .content {
    padding: 40px 20px;
  }
}

input, label {
  display:block;

}

.horiz {
  display: inline-block;
}

#contact{
  background-color: $grey-light;
  margin-left: 350px;
  border: 1px solid #ddd !important; 
  border-radius: 15px !important; 
}

