
  /*
** Table of Contents
** 1. General
** 2. Sub-Heading
** 3. Primary Heading
** 4. Button Spacer
*/

// 1. General
.requestor-info {
  //background-color: $grey-light;
  .content {
    padding: 40px 20px;
  }
}

// 2. Sub-Heading
.sub-heading {
  margin-bottom: 10px;
}

// 3. Primary Heading
.home .primary-heading {
  margin-bottom: 162px;
}

// 4. Button Spacer
.spacer {
  max-width: 75px;
  min-height: 20px;
}


input, label {
  display:block;

}

.horiz {
  display: inline-block;
}

#contact{
  max-width: 750px;
  min-height: 1000px;
  background-color: $grey-light;
  border-radius: 4% !important;
  margin-left: 350px;
}

