
  /*
** Table of Contents
** 1. General
*/

// 1. General
.requestor-info {
  background-color: $grey-light;
  .content {
    padding: 40px 20px;
  }
}

input, label {
  display:block;

}

.horiz {
  display: inline-block;
}
