/*
** Table of Contents
** 1. General
** 2. Card
** 
*/

// 1. General
.terms {
  background-color: $grey-light;
  .content {
    padding: 40px 20px;

    margin-left: 100px;
  }
}

// 2. Card
#terms{
margin: 25px 0 50px;
border-radius: 4% !important;
background-color: $grey-light;
border: 1px solid #ddd !important; 
border-radius: 15px !important;
}


