/*
** Table of Contents
** 1. General
** 2. Sub-Heading
** 3. Primary Heading
** 4. Button Spacer
*/

// 1. General
.terms {
  background-color: $grey-light;
  .content {
    padding: 40px 20px;
    margin-left: 100px;
  }
}


#terms{
margin-bottom: 50px;
border-radius: 4% !important;
background-color: $grey-light;
}

.terms-conditions{


}