
  /*
** Table of Contents
** 1. General
** 2. Sub-Heading
** 3. Primary Heading
** 4. Button Spacer
*/

// 1. General
.volunteer-info {
  // background-color: $grey-light;
  .content {
    padding: 40px 20px;
  }
}



.volunteerHealth-text{
  text-align: center;
}
.inputgroup {
  padding-top: 20px;

}

fieldset {
  .radio {
    float: left;
    clear: none;
  }
  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }
  input[type=radio],
  input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
  }
}

#volunteer-info-card{
  max-width: 750px;
  min-height: 1000px;
  background-color: $grey-light;
  border-radius: 4% !important;
  // margin-left: 350px;
}

.ageConfirm{
  padding-top: 20px;
  
}

