/*
** Table of Contents
** 1. General
** 2. Sub-Heading
** 3. Banner Image
*/

// 1. General
.banner {
  background-color: $background-light-yellow;
  .content {
    padding: 30px 20px;
    
    @include breakpoint('large') {
      padding: 70px 20px 100px;
    }
  }
  p {
    margin-bottom: 36px;
  }
}

// 2. Sub-Heading
.sub-heading {
  margin-bottom: 10px;
}

//3. Banner Image
.banner-image {
  height: 230px;
  line-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}