/*
** Table of Contents
** 1. General
*/

// 1. General
.be-heroes {
  background-color: $background-light-yellow;
  padding: 70px 0;
  
  .squeezed {
    margin: 0 auto;
    max-width: 582px;
    padding: 20px 0 46px;
  }
  p { margin-bottom: 0; }
}
.heroes-block {
  height: 300px;
  text-align: center;
  padding: 20px;

  @include breakpoint('medium') { height: 29vw; }
  @include breakpoint('xlarge') { height: 360px; }
}