/*
** Table of Contents
** 1. General
*/

$spacing-from-center: 10%;


// 1. General
.help-counter {
  background-color: $background-dark-green;
  color: #fff;
  padding: 0 0 20px;

  .row {
    max-width: 650px;
  }
}
.counter {
  font-family: 'Raleway';
  margin: 0 auto;
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
  width: 120px;

  span {
    font-size: 64px;
  }
  figcaption { 
    font-size: 1.3em
  }

  @include breakpoint('small') {
    .right & { margin: 0 0 0 auto; }
    .left & { margin: 0 auto 0 0; }
  }
}

@include breakpoint('small') {
  .right { padding-right: $spacing-from-center; }
  .left { padding-left: $spacing-from-center; }
}