/*
** Table of Contents
** 1. General
*/

$spacing-from-center: 5%;


// 1. General
.help-counter {
  background-color: lighten($green-dark, 10%);
  color: #fff;
  padding: 20px 0;

  .row {
    max-width: 650px;
  }
}
.counter {
  margin: 0 auto;
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
  width: 120px;

  span { font-size: 2em; }
  figcaption { font-size: 1.2em }

  @include breakpoint('small') {
    .right & { margin: 0 0 0 auto; }
    .left & { margin: 0 auto 0 0; }
  }
}

@include breakpoint('small') {
  .right { padding-right: $spacing-from-center; }
  .left { padding-left: $spacing-from-center; }
}