/*
** Table of Contents
** 1. General
*/

// 1. General
.how-it-works {
  background-color: $background-light-yellow;
  padding: 75px 0;

  h2 {
    margin-bottom: 60px;
  }
}
.icon-features {
  margin-bottom: 30px;
}