/*
** Table of Contents
** 1. General
*/

// 1. General
.participating-cities {
  background-color: $background-dark-green;
  color: $white;
  font-family: $heading-font;
  font-size: 24px;
  padding: 40px 0;
  text-align: center;
}
.mobile-hide {
  display: none;

  @include breakpoint('medium') {
    display: inline-block;
  }
}
.city {
  display: inline-block;
  padding: 0 20px;

  &:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}