/*
** Table of Contents
** 1. General
*/

// 1. General
.participating-cities {
  background-color: $background-dark-green;
  color: $white;
  font-family: $heading-font;
  font-size: 24px;
  padding: 40px 0;
  text-align: center;
}
.city-split {
  display: inline-block;
  font-weight: 300;
  margin: 0 20px;
}